@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --master_height: 350px;
  --master_width: 300px;
  --master_note_size: 35px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* drop-down select menu styling */
.ctrl-container {
  position: relative;
  display: flex;
  margin: 5px 0;
}

.custom-select-wrapper {
  position: relative;
  display: flex;
  width: 150px;
  margin: 0 5px;
}

.custom-select-wrapper select {
  background-color: #fff;
  appearance: none;
  width: 100%;
  padding: 12px 40px 12px 15px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.custom-select-wrapper i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

/* ------------------------------ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

h2 {
  position: relative;
  color: rgb(71, 123, 226);
  width: 100%;
  text-align: center;
  margin: 20px 0 5px 0;
  font-size: 30px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.chord-name {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 40px 0 10px 0;
}

.chord-name i {
  color: rgb(71, 123, 226);
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
  transform: translateY(-20px);
  cursor: pointer;
}

.guitar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 450px;
}

.guitar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: calc(var(--master_width) + 30px);
}

.nut-container {
  display: flex;
  width: calc(var(--master_width) + 30px);
  height: 30px;
  margin-bottom: 10px;
}

.note-row-nut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 30px);
}

.fretboard {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: var(--master_height);
  width: var(--master_width);
}

.frets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fret:first-child {
  background-color: rgb(0, 0, 0);
  height: 10px;
}

.fret {
  background-color: rgb(0, 0, 0);
  height: 5px;
  width: 99%;
}

.fret-numbers {
  position: absolute;
  transform: translateX(-15px);
}

.fret-numbers p {
  margin: 28px 0;
}

.strings {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.string {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 5px;
  z-index: 1;
}

.string-label {
  position: absolute;
  top: var(--master_height);
  transform: translateX(-50%);
  font-size: 1.2rem;
  margin: 5px 0;
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  height: var(--master_note_size);
  width: var(--master_note_size);
  z-index: 100;
  color: transparent;
}

.note span {
  color: #fff;
}

.note.visible {
  background-color: #181818;
}

.note.nut.visible {
  background-color: #fff;
  border: 4px solid #181818;
}

.note.nut.visible i {
  color: transparent;
}

.note.nut.muted.visible {
  border: none;
}

.note.nut.muted.visible i {
  color: #181818;
  font-size: 30px;
}

.string-notes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.string-notes-container p {
  font-size: 1.2rem;
}

.user-notes {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%) scale(0.5);
  transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s;
  background-color: #fff;
  width: 90%;
  height: 60%;
  max-width: 360px;
  top: 50%;
  border-radius: 12px;
  border: 2px solid rgb(71, 123, 226);
  z-index: 1000;
  padding: 20px 15px 20px 20px;
  overflow: hidden;
  pointer-events: none;
}

.info-container.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(-54%) scale(1);
  pointer-events: auto;
}

.info-container i {
  font-size: 30px;
  color: #777;
  cursor: pointer;
}

.info-container h3 {
  margin: 0;
  font-size: 20px;
}

.info-container p {
  margin-top: 20px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.info-btn {
  background-color: #fff;
  padding: 5px 10px;
  width: 150px;
  color: rgb(71, 123, 226);
  border-radius: 15px;
  border: 2px solid rgb(71, 123, 226);
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 10px;
}

.scroll-wrapper {
  overflow: auto;
  max-height: 100%;
  width: 100%;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(71, 123, 226);
  border-radius: 10px;
  border: 2px solid transparent; /* creates padding */
  background-clip: content-box;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

@media (max-width: 375px) {
  :root {
    --master_width: 250px;
  }
}
