@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --master_height: 350px;
  --master_width: 300px;
  --master_note_size: 35px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Navbar */

.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.6) 0px 8px 16px -8px;
}

.navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  color: #999;
  cursor: pointer;
}

.navbar-link:hover {
  color: rgb(71, 123, 226);
}

.navbar-link i {
  font-size: 30px;
}

/* End of Navbar */

/* drop-down select menu styling */
.ctrl-container {
  position: relative;
  display: flex;
  margin: 5px 0;
}

.custom-select-wrapper {
  position: relative;
  display: flex;
  width: 150px;
  margin: 0 5px;
}

.progression-select-wrapper {
  position: relative;
  display: flex;
  width: 200px;
  margin-bottom: 20px;
}

.custom-select-wrapper select,
.progression-select-wrapper select {
  background-color: #fff;
  appearance: none;
  width: 100%;
  padding: 12px 40px 12px 15px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.custom-select-wrapper select,
.progression-select-wrapper select {
  background-color: #fff;
  appearance: none;
  width: 100%;
  padding: 12px 40px 12px 15px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}

.custom-select-wrapper i,
.progression-select-wrapper i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

/* ------------------------------ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

h2 {
  position: relative;
  color: rgb(71, 123, 226);
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 30px;
}

small {
  font-size: 25px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.chord-name {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px 0;
}

.chord-name h1 {
  transform: translateX(-8px);
}

.chord-name i {
  color: rgb(71, 123, 226);
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
  transform: translate(-5px, -20px);
  cursor: pointer;
}

.shape-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  width: 50%;
  margin-bottom: 15px;
}

.shape-select-element {
  color: #898989;
  font-weight: 400;
}

.shape-select-container i {
  color: #898989;
  font-size: 20px;
  cursor: pointer;
}

.guitar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.guitar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: calc(var(--master_width) + 30px);
}

.nut-container {
  display: flex;
  width: calc(var(--master_width) + 30px);
  height: 30px;
  margin-bottom: 10px;
}

.note-row-nut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 30px);
}

.fretboard {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: var(--master_height);
  width: var(--master_width);
}

.frets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* .fret:first-child {
  background-color: rgb(0, 0, 0);
  height: 10px;
} */

.fret {
  background-color: rgb(0, 0, 0);
  height: 5px;
  width: 99%;
}

.fret-numbers {
  position: absolute;
  transform: translateX(-25px);
}

.fret-numbers p {
  margin: 28px 0;
}

.strings {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.string {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 5px;
  z-index: 1;
}

.string-label {
  position: absolute;
  top: var(--master_height);
  transform: translateX(-50%);
  font-size: 1.2rem;
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  height: var(--master_note_size);
  width: var(--master_note_size);
  z-index: 100;
  color: transparent;
}

.note span {
  color: #fff;
}

.note.visible {
  background-color: #181818;
}

.note.root {
  background-color: rgb(71, 123, 226);
}

.note.nut.visible {
  background-color: #fff;
  border: 4px solid #181818;
}

.note.nut.visible.root {
  background-color: #ffffff;
  border: 4px solid rgb(71, 123, 226);
}

.note.nut.visible i {
  color: transparent;
}

.note.nut.muted.visible {
  border: none;
}

.note.nut.muted.visible i {
  color: #181818;
  font-size: 30px;
}

.string-notes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

/* .string-notes-container span {
  font-size: 1.2rem;
} */

.user-notes {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%) scale(0.5);
  transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s;
  background-color: #fff;
  width: 90%;
  height: 500px;
  top: 120px;
  max-width: 360px;
  border-radius: 12px;
  border: 2px solid rgb(71, 123, 226);
  z-index: 1000;
  padding: 20px 15px 20px 20px;
  overflow: hidden;
  pointer-events: none;
}

.info-container.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%) scale(1);
  pointer-events: auto;
}

.info-container i {
  font-size: 30px;
  color: #777;
  cursor: pointer;
}

.info-container h3 {
  margin: 0;
  font-size: 20px;
}

.info-container p {
  margin-top: 20px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.info-btn {
  background-color: #fff;
  padding: 5px 10px;
  width: 150px;
  color: rgb(71, 123, 226);
  border-radius: 15px;
  border: 2px solid rgb(71, 123, 226);
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: 10px;
}

.scroll-wrapper {
  overflow: auto;
  max-height: 100%;
  width: 100%;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(71, 123, 226);
  border-radius: 10px;
  border: 2px solid transparent; /* creates padding */
  background-clip: content-box;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Begin Keys Page */

.keys-ui-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 40px 0;
}

.left-btn,
.right-btn {
  background-color: #fff;
  border: none;
  margin: 0 15px;
  cursor: pointer;
}

.left-btn:active,
.right-btn:active {
  transform: scale(0.98);
}

.left-btn i,
.right-btn i {
  font-size: 30px;
}

.circle-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.line {
  position: absolute;
  height: 100%;
  width: 1.5px;
  background-color: #e1e1e1;
  z-index: 4;
}

.circle-bg-large,
.circle-bg-small,
.circle-bg-medium {
  position: absolute;
  border-radius: 50%;
  /* background-image: conic-gradient(
    #e3f0d8 0deg 15deg,
    #fffadd 15deg 45deg,
    #fdde98 45deg 75deg,
    #fce1c5 75deg 105deg,
    #f8c9a2 105deg 135deg,
    #f2c6ce 135deg 165deg,
    #b79abd 165deg 195deg,
    #879bc2 195deg 225deg,
    #b7dfeb 225deg 255deg,
    #c2e1d5 255deg 285deg,
    #c2d69f 285deg 315deg,
    #d8e9c4 315deg 345deg,
    #e3f0d8 345deg 360deg
  );*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.circle-bg-small {
  background-image: conic-gradient(
    rgb(71, 123, 226) 0deg 15deg,
    #fff 15deg 345deg,
    rgb(71, 123, 226) 345deg 360deg
  );
}
.circle-bg-large,
.circle-bg-medium {
  background-image: conic-gradient(
    rgb(71, 123, 226) 0deg 45deg,
    #fff 45deg 315deg,
    rgb(71, 123, 226) 315deg 360deg
  );
}

.circle-bg-large {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.circle-bg-medium {
  width: 75%;
  height: 75%;
  z-index: 2;
}
.circle-bg-small {
  width: 48%;
  height: 48%;
  z-index: 3;
}

.circle-bg-middle {
  position: absolute;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
  width: 25%;
  height: 25%;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.circle-text {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: transform 0.5s;
}

.major-wedge,
.minor-wedge,
.dimminished-wedge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  transform-origin: center;
  top: 50%;
  left: 50%;
  z-index: 11;
  transition: transform 0.3s;
}

.major-wedge {
  font-size: 25px;
  font-weight: 700;
  transform: translateY(-150px);
}

.minor-wedge {
  font-size: 18px;
}

.major-wedge.active,
.minor-wedge.active,
.dimminished-wedge.active {
  color: #fff;
}

.major-wedge::before,
.minor-wedge::before,
.dimminished-wedge::before {
  position: absolute;
  font-size: 12px;
  font-weight: 200;
}

/* Positional tweaks by type */
.major-wedge::before {
  top: 27px;
}
.minor-wedge::before {
  top: 25px;
}
.dimminished-wedge::before {
  top: 22px;
}

/* Roman numeral content by function */
.one-chord::before {
  content: "I";
}
.two-chord::before {
  content: "ii";
}
.three-chord::before {
  content: "iii";
}
.four-chord::before {
  content: "IV";
}
.five-chord::before {
  content: "V";
}
.six-chord::before {
  content: "vi";
}
.seven-chord::before {
  content: "vii";
}

.progression-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.progression-select-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.keyNotes-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}

.keyNote {
  font-size: 25px;
  font-weight: 700;
  margin: 0 12px;
  position: relative;
}

.keyNote::before {
  position: absolute;
  top: -20px;
  left: 50%;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 200;
  transform: translate(-50%);
}

.keyNote-1::before {
  content: "I";
}
.keyNote-2::before {
  content: "ii";
}
.keyNote-3::before {
  content: "iii";
}
.keyNote-4::before {
  content: "IV";
}

.keyNote-5::before {
  content: "V";
}

.keyNote-6::before {
  content: "vi";
}

.keyNote-7::before {
  content: "vii";
}

.progression-select-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.selected-progression-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.progression-description-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.progression-description {
  font-size: 14px;
  width: 50%;
}

/* End Keys Page */

@media (max-width: 375px) {
  :root {
    --master_width: 250px;
    --master_height: 300px;
  }
}

@media (max-height: 655px) {
  :root {
    --master_width: 250px;
    --master_height: 300px;
  }
}
